PORT=6004
RABBITMQ_URL=amqp://guest:guest@localhost:5672
CASE_ATOM_URL=http://localhost:5001
PROOF_ATOM_URL=http://localhost:5005
JWKS_URI=http://localhost:9000/realms/hdbcare/protocol/openid-connect/certs
