PORT=6006
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
DATABASE_URL=postgresql://hdbcare_admin:securepassword@db:5432/reschedule-job_db

# Atomic Services (Port 50xx)
RESIDENT_URL=http://resident:5002
APPOINTMENT_URL=http://appointment:5004
CASE_URL=http://case:5001

# OpenTelemetry
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
