PORT=6006
RABBITMQ_URL=amqp://guest:guest@localhost:5672
RESIDENT_ATOM_URL=http://localhost:5002
APPOINTMENT_ATOM_URL=http://localhost:5004
CASE_ATOM_URL=http://localhost:5001
JWKS_URI=http://localhost:9000/realms/hdbcare/protocol/openid-connect/certs

SENTRY_BACKEND_DSN=your-sentry-dsn
SENTRY_TRACES_SAMPLE_RATE=1.0
