PORT=5003
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672

# Local Docker Assignment DB
# DATABASE_URL=postgresql://hdbcare_admin:securepassword@db:5432/assignment_db
# Supabase Assignment DB
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.ietxdjztqofinznmnhjp.supabase.co:5432/postgres
JWKS_URI=http://localhost:5001/api/auth/jwks
