PORT=5003
DATABASE_URL=postgresql://postgres:securepassword@db:5432/assignment_db
JWKS_URI=http://localhost:5001/api/auth/jwks
OTEL_EXPORTER_OTLP_ENDPOINT=your-otel-endpoint
OTEL_EXPORTER_OTLP_HEADERS=your-otel-headers

SENTRY_BACKEND_DSN=your-sentry-dsn
SENTRY_TRACES_SAMPLE_RATE=1.0
