DATABASE_URL=your-database-url

PORT=5008
OTEL_EXPORTER_OTLP_ENDPOINT=your-otel-endpoint
OTEL_EXPORTER_OTLP_HEADERS=your-otel-headers

BETTER_AUTH_SECRET=supersecret
BETTER_AUTH_URL="http://localhost:5008"
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=supersecret
