PORT=5006
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
DATABASE_URL=postgresql://hdbcare_admin:securepassword@db:5432/alert_db
RESEND_API_KEY=your-resend-api-key
OTEL_EXPORTER_OTLP_ENDPOINT=your-otel-endpoint
OTEL_EXPORTER_OTLP_HEADERS=your-otel-headers

SENTRY_BACKEND_DSN=your-sentry-dsn
SENTRY_TRACES_SAMPLE_RATE=1.0
