PORT=5006
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
DATABASE_URL=postgresql://hdbcare_admin:securepassword@db:5432/alert_db
RESEND_API_KEY=your-resend-api-key
JWKS_URI=http://localhost:5001/api/auth/jwks
OTEL_EXPORTER_OTLP_ENDPOINT=your-otel-endpoint
OTEL_EXPORTER_OTLP_HEADERS=your-otel-headers
