PORT=5001
OTEL_EXPORTER_OTLP_ENDPOINT=your-otel-endpoint
OTEL_EXPORTER_OTLP_HEADERS="Authorization=your-otel-headers"
DATABASE_URL="postgresql://postgres:your-password@localhost:5432/postgres"
JWKS_URI=http://localhost:5001/api/auth/jwks

