PORT=5001
OTEL_EXPORTER_OTLP_ENDPOINT=your-otel-endpoint
OTEL_EXPORTER_OTLP_HEADERS="Authorization=your-otel-headers"
DATABASE_URL="postgresql://postgres:your-password@localhost:5432/postgres"


SENTRY_BACKEND_DSN=your-sentry-dsn
SENTRY_TRACES_SAMPLE_RATE=1.0
