PORT=6003
APPOINTMENT_SERVICE_URL=http://localhost:5004
ASSIGNMENT_SERVICE_URL=http://localhost:5003
CASE_SERVICE_URL=http://localhost:5001
JWKS_URI=http://localhost:9000/realms/hdbcare/protocol/openid-connect/certs
LOG_LEVEL=INFO
ENV=development
